In [2]:
my_list = [1,2,3,4,5]

my_list.append(6)
my_list

[1, 2, 3, 4, 5, 6]

In [3]:
my_list.extend([7,8,9])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
my_list[0]

1

In [5]:
my_list[-1]

9

In [6]:
my_list[2:8]

[3, 4, 5, 6, 7, 8]

In [10]:
m = [i for i in range(10)]
m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
n = []
for i in range(10):
    n.append(i)
n

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
n.pop(0)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
n.remove(9)
n

[2, 3, 4, 5, 6, 7, 8]

In [12]:
import random
r = [random.randint(1,100) for i in range(10)]
r

[58, 92, 61, 40, 21, 24, 48, 4, 35, 1]

In [23]:
my_tuple = (1,2,3,4,5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [24]:
for each in my_tuple:
    print(each)

1
2
3
4
5
6
7
8
9

In [25]:
my_tuple[0]

1

In [26]:
my_tuple[-1]

9

In [28]:
my_tuple[2:6]

(3, 4, 5, 6)

In [30]:
my_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

In [31]:
my_tuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [84]:
my_dict = {'id': 1948, 'name': 'Cap', 'size': 3}
my_dict

{'id': 1948, 'name': 'Cap', 'size': 3}

In [85]:
my_dict2 = dict(id=1,name="pant",size=30)
my_dict2

{'id': 1, 'name': 'pant', 'size': 30}

In [86]:
my_dict["price"] = 1000
my_dict

{'id': 1948, 'name': 'Cap', 'price': 1000, 'size': 3}

In [48]:
my_dict2.update({'price':2000})
my_dict2

{'id': 1, 'name': 'pant', 'price': 2000, 'size': 30}

In [51]:
for key,value in my_dict2.items():
    print(key,value)

size 30
id 1
price 2000
name pant

In [54]:
for k in my_dict.keys():
    print(k)

size
id
price
name

In [61]:
for v in my_dict.values():
    print(v)

3
1948
2000
Cap

In [64]:
my_dict.pop("size")
my_dict

{'id': 1948, 'name': 'Cap', 'price': 2000}

In [72]:
s1 = set("pecan")
s1

{'a', 'c', 'e', 'n', 'p'}

In [73]:
s2 = {'p','i','e'}
s2

{'e', 'i', 'p'}

In [79]:
for each in s2:
    print(each)

i
p
e

In [80]:
s1.union(s2) #union

{'a', 'c', 'e', 'i', 'n', 'p'}

In [81]:
s1.intersection(s2) #intersection

{'e', 'p'}

In [82]:
s1.difference(s2) #difference

{'a', 'c', 'n'}

In [83]:
s1.remove('a')
s1

{'c', 'e', 'n', 'p'}