In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),index=['a','c','e','f','h'],columns=['one','two','three'])

In [3]:
df

   one  two  three
a   16   89     32
c   20   79     91
e   71   25     17
f   82   78      3
h   50   19     49

In [4]:
df["even"] = df["three"] % 2 == 0
df

   one  two  three   even
a   16   89     32   True
c   20   79     91  False
e   71   25     17  False
f   82   78      3  False
h   50   19     49  False

In [5]:
df2 = df.reindex(['a','b','c','d','e','f','g','h'])

In [6]:
df2

    one   two  three   even
a  16.0  89.0   32.0   True
b   NaN   NaN    NaN    NaN
c  20.0  79.0   91.0  False
d   NaN   NaN    NaN    NaN
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g   NaN   NaN    NaN    NaN
h  50.0  19.0   49.0  False

In [7]:
df2.isnull()

     one    two  three   even
a  False  False  False  False
b   True   True   True   True
c  False  False  False  False
d   True   True   True   True
e  False  False  False  False
f  False  False  False  False
g   True   True   True   True
h  False  False  False  False

In [8]:
df2['one'].isnull()

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [9]:
df2.fillna('a')

  one two three   even
a  16  89    32   True
b   a   a     a      a
c  20  79    91  False
d   a   a     a      a
e  71  25    17  False
f  82  78     3  False
g   a   a     a      a
h  50  19    49  False

In [10]:
df2["one"].fillna(df["one"].mean())

a    16.0
b    47.8
c    20.0
d    47.8
e    71.0
f    82.0
g    47.8
h    50.0
Name: one, dtype: float64

In [11]:
df2.fillna(df2.mean()[['one','two','three']])

    one   two  three   even
a  16.0  89.0   32.0   True
b  47.8  58.0   38.4    NaN
c  20.0  79.0   91.0  False
d  47.8  58.0   38.4    NaN
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g  47.8  58.0   38.4    NaN
h  50.0  19.0   49.0  False

In [12]:
df2

    one   two  three   even
a  16.0  89.0   32.0   True
b   NaN   NaN    NaN    NaN
c  20.0  79.0   91.0  False
d   NaN   NaN    NaN    NaN
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g   NaN   NaN    NaN    NaN
h  50.0  19.0   49.0  False

In [13]:
df2.fillna(df2.mean()[['one','two','three']],inplace=True)

    one   two  three   even
a  16.0  89.0   32.0   True
b  47.8  58.0   38.4    NaN
c  20.0  79.0   91.0  False
d  47.8  58.0   38.4    NaN
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g  47.8  58.0   38.4    NaN
h  50.0  19.0   49.0  False

In [14]:
df2

    one   two  three   even
a  16.0  89.0   32.0   True
b  47.8  58.0   38.4    NaN
c  20.0  79.0   91.0  False
d  47.8  58.0   38.4    NaN
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g  47.8  58.0   38.4    NaN
h  50.0  19.0   49.0  False

In [15]:
df2['even'] = df2.apply(lambda d:int(d['three'])%2 == 0 if pd.isnull(d["even"]) else d['even'],axis=1)
df2

    one   two  three   even
a  16.0  89.0   32.0   True
b  47.8  58.0   38.4   True
c  20.0  79.0   91.0  False
d  47.8  58.0   38.4   True
e  71.0  25.0   17.0  False
f  82.0  78.0    3.0  False
g  47.8  58.0   38.4   True
h  50.0  19.0   49.0  False