In [2]:
import numpy as np

In [7]:
a = [1,2,3,4] # normal python list
b = [2,2,2,2] # normal python list
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [169]:
aa = np.array([1,2,3,4]) # numpy array
bb = np.array([2,2,2,2]) # numpy array

In [162]:
aa*bb

array([2, 4, 6, 8])

In [163]:
aa-bb

array([-1,  0,  1,  2])

In [164]:
aa/bb

array([ 0.5,  1. ,  1.5,  2. ])

In [165]:
aa+bb

array([3, 4, 5, 6])

In [166]:
aa%bb

array([1, 0, 1, 0], dtype=int32)

In [167]:
aa*3

array([ 3,  6,  9, 12])

In [168]:
aa>2

array([False, False,  True,  True], dtype=bool)

In [77]:
# genrating numpy arrays using arange
print(np.arange(10,20))
print(np.arange(10,20,2))
print(np.arange(20,10,-1))
print(np.arange(20,10,-2))
print(type(np.arange(10,20)))
print(np.arange(20,10,-2).dtype)

[10 11 12 13 14 15 16 17 18 19]
[10 12 14 16 18]
[20 19 18 17 16 15 14 13 12 11]
[20 18 16 14 12]
<class 'numpy.ndarray'>
int32

In [78]:
# generating python arrays using range
print(list(range(10,20)))
print(list(range(10,20,2)))
print(list(range(20,10,-1)))
print(list(range(20,10,-2)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[20, 18, 16, 14, 12]

In [75]:
# generating evenly spaced values within a range
print(np.linspace(2,3,5))
print(np.linspace(2,3,10))
print(np.linspace(2,3,10).dtype)

[ 2.    2.25  2.5   2.75  3.  ]
[ 2.          2.11111111  2.22222222  2.33333333  2.44444444  2.55555556
  2.66666667  2.77777778  2.88888889  3.        ]
float64

In [68]:
x = np.array([[i for i in range(10)] for j in range(5)])
print(x)
print(x.shape) #shape of array
print(x.ndim) #number of dimensions of array
print(len(x)) #length of array
print(x.size) #total number of elements

[[0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]]
(5, 10)
2
5
50

In [71]:
y = np.arange(15).reshape(3,5) #transforming a 1d array into a 2d array
print(y)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [82]:
print(np.zeros((3,2))) #create a array with zeros
print(np.ones((2,2))) #create a list with ones
print(np.ones(50,dtype=int).reshape(5,10))

[[ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]]
[[ 1.  1.]
 [ 1.  1.]]
[[1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]]

In [81]:
z = np.array([1,23,45,123],dtype=float) #specifying data type while creating array
print(z)

[   1.   23.   45.  123.]

In [87]:
mat1 = np.array([[12,3],[3,1]])
mat2 = np.array([[2,3],[4,3]])
print(mat1*mat2) #element-wise multiplication
print(mat1.dot(mat2)) #matrix multiplication

[[24  9]
 [12  3]]
[[36 45]
 [10 12]]

In [91]:
np.random.random((2,2)) #generates random floats from 0 to 1

array([[ 0.02756458,  0.17404289],
       [ 0.52124134,  0.52372957]])

In [95]:
np.random.randint(10,20,(5,5)) #generates random numbers

array([[13, 16, 11, 17, 13],
       [15, 12, 10, 10, 15],
       [16, 10, 11, 14, 13],
       [13, 10, 16, 18, 11],
       [14, 17, 12, 15, 10]])

In [104]:
xx = np.random.random(10)
print(xx)
print(xx.sum()) #returns the sum of all elements from an array
print(xx.min()) #returns the minimum value from an array
print(xx.max()) #returns the maximum value from an array

[ 0.44163982  0.00207062  0.86691594  0.49506572  0.12890852  0.08830496
  0.61417478  0.08379398  0.78696773  0.61405991]
4.12190198582
0.00207062270836
0.866915937401

In [112]:
yy = np.arange(25).reshape(5,5)
print(yy)
print(yy.sum())
print(yy.sum(axis=0)) #sum of each column
print(yy.sum(axis=1)) #sum of each row
print(yy.min(axis=0)) #min of each column
print(yy.max(axis=1)) #max of each row

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
300
[50 55 60 65 70]
[ 10  35  60  85 110]
[0 1 2 3 4]
[ 4  9 14 19 24]

In [124]:
m = np.arange(10)**2
print(m)
print(m[2])
print(m[2:5])
print(m[2:8])
print(m[2:8:2]) #slicing with step
print(m[::-1]) #reversing an array
print(list(reversed(m)))

[ 0  1  4  9 16 25 36 49 64 81]
4
[ 4  9 16]
[ 4  9 16 25 36 49]
[ 4 16 36]
[81 64 49 36 25 16  9  4  1  0]
[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [176]:
n = np.arange(12).reshape(4,3)
print(n)
print(n[2])
print(n[0,2])
print(n[:,:])
print(n[:,1]) #each row in 2nd column
print(n[:2,1]) #first 2 rows in 2nd column
print(n[:2,:]) #each column in first 2 rows
print(n[:2,:2]) #first 2 columns in first 2 rows

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[6 7 8]
2
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[ 1  4  7 10]
[1 4]
[[0 1 2]
 [3 4 5]]
[[0 1]
 [3 4]]

In [136]:
for row in n:
    print(row)

[0 1 2]
[3 4 5]
[6 7 8]
[ 9 10 11]

In [181]:
for element in n.flat:
    print(element)

0
1
2
3
4
5
6
7
8
9
10
11

In [145]:
k = np.arange(12).reshape(3,4)
print(k)
l = k.ravel() #transforms a 2d list into a 1d list
print(l)
print(k.T) #trasnspose of a matrix

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]

In [149]:
print(k.mean(axis=0)) #mean value from each column
print(k.mean(axis=1)) #mean value from each row

[ 4.  5.  6.  7.]
[ 1.5  5.5  9.5]

In [153]:
print(np.argmax(k)) #index of max element
print(np.argmax(k,axis=0)) #index of max elements from each column
print(np.argmax(k,axis=1)) #index of max elements from each row
print(np.argmin(k,axis=0)) #index of min elements from each column
print(np.argmin(k,axis=1)) #index of min elements from each row

11
[2 2 2 2]
[3 3 3]
[0 0 0 0]
[0 0 0]