# Using lists to store records

In [5]:
bob = ['Bob Smith',40,50000,'software']
john = ['John Sally',38,60000,'hardware']
anna = ['Anna Ivanova',41,50000,'software']
jane = ['Jane Hudson',39,60000,'hardware']

40

In [53]:
employees = [bob, john, anna, jane]

for e in employees:
    print(e)

['Bob Smith', 40, 50000, 'software']
['John Sally', 38, 60000, 'hardware']
['Anna Ivanova', 41, 50000, 'software']
['Jane Hudson', 39, 60000, 'hardware']

In [54]:
for e in employees:
    print(e[0])

Bob Smith
John Sally
Anna Ivanova
Jane Hudson

## Insert another record in the employees

In [55]:
mohit = ['Mohendra Amatya',22,80000,'software']
employees.append(mohit)
for e in employees:
    print(e[0])

Bob Smith
John Sally
Anna Ivanova
Jane Hudson
Mohendra Amatya

In [56]:
for e in employees:
    print(e[0].split()[0])

Bob
John
Anna
Jane
Mohendra

In [57]:
for e in employees:
    e[2] *= 1.20

pays = [e[2] for e in employees]

pays

[60000.0, 72000.0, 60000.0, 72000.0, 96000.0]

In [58]:
NAME, AGE, PAY, DEPT = range(4)

for e in employees:
    print(e[NAME],e[PAY])

Bob Smith 60000.0
John Sally 72000.0
Anna Ivanova 60000.0
Jane Hudson 72000.0
Mohendra Amatya 96000.0

## Write a function to find the sum of all the numbers in a list and find the total amount to be payed to the employees

In [59]:
def find_sum(l):
    summ=0
    for e in l:
        summ+=e[2]
    return summ

print(find_sum(employees))

360000.0

# Using dictionaries

In [33]:
fields = ['name','age','pay','dept']

print(dict(zip(fields,employees[0])))

employees_dict = []
for e in employees:
    employees_dict.append(dict(zip(fields,e)))
    
employees_dict

{'name': 'Bob Smith', 'age': 40, 'pay': 60000.0, 'dept': 'software'}

[{'age': 40, 'dept': 'software', 'name': 'Bob Smith', 'pay': 60000.0},
 {'age': 38, 'dept': 'hardware', 'name': 'John Sally', 'pay': 72000.0},
 {'age': 41, 'dept': 'software', 'name': 'Anna Ivanova', 'pay': 60000.0},
 {'age': 39, 'dept': 'hardware', 'name': 'Jane Hudson', 'pay': 72000.0},
 {'age': 22, 'dept': 'software', 'name': 'Mohendra Amatya', 'pay': 60000000.0}]

In [34]:
for e in employees_dict:
    print(e['name'],e['pay'])

Bob Smith 60000.0
John Sally 72000.0
Anna Ivanova 60000.0
Jane Hudson 72000.0
Mohendra Amatya 60000000.0

## Write a function to find the oldest employee from employees_dict

In [61]:
def find_oldest(emp):
    maxx = emp[0]['age']
    for e in emp:
        if e['age'] > maxx:
            maxx = e['age']
    for e in emp:
        if maxx == e['age']:
            return e
        
print(find_oldest(employees_dict))

{'name': 'Anna Ivanova', 'age': 41, 'pay': 60000.0, 'dept': 'software'}

In [1]:
emp1 = employees_dict[0]
print(emp1)

for key,value in emp1.items():
    print(key,value)
    
for k in emp1.keys():
    print(k)
    
for v in emp1.values():
    print(v)

NameError: name 'employees_dict' is not defined

In [2]:
class Employee():
    """Employees of ABC company"""
    def __init__ (self, name, age, salary, dept):
        self.name = name
        self.age = age
        self.salary = salary
        self.dept = dept
    def caste(self):
        print(self.name.split()[-1])
    def salary_inc(self, increment):
        self.salary *= ((increment/100)+1)
        return self.salary

    

    
    
 
    
        
bob = Employee('Bob Smith',40,50000,'software')
john = Employee('John Sally',38,60000,'hardware')
anna = Employee('Anna Ivanova',4100,50000,'software')
jane = Employee('Jane Hudson',390,60000,'hardware')
list1=[bob, john, anna, jane]
for i in list1:
    i.caste()
    
for i in list1:
    print(i.salary_inc(20))
    
def oldest():
    oldage = bob.age
    for i in list1:
        if(i.age > oldage):
            oldage=i.age
            nameold = i.name
    print(oldage)
    print(nameold)
    
oldest()

Smith
Sally
Ivanova
Hudson
60000.0
72000.0
60000.0
72000.0
4100
Anna Ivanova

In [1]:
class Employee():
    """Employees of ABC company"""
    def __init__ (self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def get_first_name(self):
        print(self.name.split()[0])
    def get_last_name(self):
        print(self.name.split()[-1])
    def give_raise(self, increment):
        self.salary *= ((float(increment)/100)+1)
    def __str__(self):
        return self.name
    
class Software(Employee):
    def __init__(self, name, age, salary):
        Employee.__init__(self, name, age, salary)
        self.dept = "Software"
        self.bonus = 15
    def give_raise(self, p): 
        Employee.give_raise(self,self.bonus + p)
        
        
bob = Software('Bob Smith',40,50000)
john = Employee('John Sally',38,60000)

bob.give_raise(10)
print(bob.salary)
print(bob)

62500.0
Bob Smith